src/main/resources/samples/ato.accrole.0001.2017.list.01.00.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.sbr.gov.au/ato/accrolelist" elementFormDefault="qualified" targetNamespace="http://www.sbr.gov.au/ato/accrolelist" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="ACCROLEList" type="tns:ACCROLEList" />
	<xs:complexType name="ACCROLEList">
		<xs:annotation>
			<xs:documentation>This schema was generated from a template.</xs:documentation>
			<xs:documentation>Manual changes to this file will be overwritten if the schema is regenerated.</xs:documentation>
			<xs:documentation>Generated on 2017-03-27T12:23:20, by ESR Version 1.57.0.0 using ESR Database </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="1" name="INT" type="tns:INT">
				<xs:annotation>
					<xs:documentation>Information related to the sender</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="1" maxOccurs="1" name="RP" type="tns:RP">
				<xs:annotation>
					<xs:documentation>Information related to the entity</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="INT">
		<xs:annotation>
			<xs:documentation>Information related to the sender</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="1" name="ContextIdentifiersTaxAgentNumberIdentifier" nillable="true">
				<xs:annotation>
					<xs:documentation>Identifiers.TaxAgentNumber.Identifier</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[0-9]{8}" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" maxOccurs="1" name="ContextIdentifiersAustralianBusinessNumberIdentifier" nillable="true">
				<xs:annotation>
					<xs:documentation>Australian Business Number</xs:documentation>
					<xs:documentation>Alias: ACCROLE1</xs:documentation>
					<xs:documentation>Business Definition: A unique public identifier issued to all entities registered in the Australian Business Register (ABR), to be used in their dealings with government. Companies registered under the Corporations Law and business entities carrying on an enterprise in Australia are entitled to an ABN.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="11" />
						<xs:maxLength value="11" />
						<xs:pattern value="[0-9]{11}" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" maxOccurs="1" name="IdentifiersTaxAgentNumberIdentifier" nillable="true">
				<xs:annotation>
					<xs:documentation>Tax Agent Number</xs:documentation>
					<xs:documentation>Alias: ACCROLE2</xs:documentation>
					<xs:documentation>Business Definition: An external identifier issued by the ATO on behalf of the Tax Agent's Board.  It is used to uniquely identify an individual who has been registered by the Board as a Tax Agent.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="7" />
						<xs:maxLength value="8" />
						<xs:pattern value="[0-9]{7,8}" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TaxRoleTypeCodeCollection">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="10" name="TaxRoleTypeCode">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="LISCINDREC" />
						<xs:enumeration value="CCINDREC" />
						<xs:enumeration value="ADMINPEN" />
						<xs:enumeration value="SGREM" />
						<xs:enumeration value="SGPVA" />
						<xs:enumeration value="SGREC" />
						<xs:enumeration value="SHASA" />
						<xs:enumeration value="SHASAPVA" />
						<xs:enumeration value="CCREM" />
						<xs:enumeration value="CCPVA" />
						<xs:enumeration value="CCREC" />
						<xs:enumeration value="ADMINOP" />
						<xs:enumeration value="LISCREM" />
						<xs:enumeration value="LISCPVA" />
						<xs:enumeration value="LISCREC" />
						<xs:enumeration value="USMPVA" />
						<xs:enumeration value="USMREC" />
						<xs:enumeration value="USMREM" />
						<xs:enumeration value="USMREP" />
						<xs:enumeration value="USMPEN" />
						<xs:enumeration value="GIC" />
						<xs:enumeration value="GST" />
						<xs:enumeration value="LCT" />
						<xs:enumeration value="FTC" />
						<xs:enumeration value="WET" />
						<xs:enumeration value="PAYGW" />
						<xs:enumeration value="DGST" />
						<xs:enumeration value="FBTI" />
						<xs:enumeration value="PAYGI" />
						<xs:enumeration value="PAYGICGH" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Pagination">
		<xs:annotation>
			<xs:documentation>Pagination</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element minOccurs="1" maxOccurs="1" name="InteractionRecordLimitCount">
				<xs:annotation>
					<xs:documentation>Record limit</xs:documentation>
					<xs:documentation>Alias: ACCROLE10</xs:documentation>
					<xs:documentation>Report Guidance: This is the value that specifies the number of client account records to be returned per page from the service.</xs:documentation>
					<xs:documentation>Business Definition: This is the maximum number of records to be returned in a list of values.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:nonNegativeInteger">
						<xs:maxInclusive value="999" />
						<xs:pattern value="[0-9]{0,3}" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="1" maxOccurs="1" name="InteractionRecordListIndexNumber">
				<xs:annotation>
					<xs:documentation>Record start number</xs:documentation>
					<xs:documentation>Alias: ACCROLE11</xs:documentation>
					<xs:documentation>Report Guidance: The index of the first record to be returned.</xs:documentation>
					<xs:documentation>Business Definition: This number represents the position of a record in a list of records.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:nonNegativeInteger">
						<xs:maxInclusive value="999999" />
						<xs:pattern value="[0-9]{0,6}" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RP">
		<xs:annotation>
			<xs:documentation>Information related to the entity</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="1" name="ContextIdentifiersTaxFileNumberIdentifier" nillable="true">
				<xs:annotation>
					<xs:documentation>Tax File Number</xs:documentation>
					<xs:documentation>Alias: ACCROLE3</xs:documentation>
					<xs:documentation>Business Definition: A unique number issued by the Tax Office to individuals and organisations to identify their tax records. It increases the efficiency in administering tax and other Australian Government systems such as income support payments. It is also used as the identifier for clients' income tax roles. A Tax File Number (TFN) can be used externally only for communication with the Tax Office, either directly by the client, or by an external organisation that is required to collect and quote the client's TFN to the Tax Office.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="8" />
						<xs:maxLength value="9" />
						<xs:pattern value="[0-9]{8,9}" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" maxOccurs="1" name="ContextIdentifiersAustralianBusinessNumberIdentifier" nillable="true">
				<xs:annotation>
					<xs:documentation>Australian Business Number</xs:documentation>
					<xs:documentation>Alias: ACCROLE4</xs:documentation>
					<xs:documentation>Business Definition: A unique public identifier issued to all entities registered in the Australian Business Register (ABR), to be used in their dealings with government. Companies registered under the Corporations Law and business entities carrying on an enterprise in Australia are entitled to an ABN.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="11" />
						<xs:maxLength value="11" />
						<xs:pattern value="[0-9]{11}" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" maxOccurs="1" name="ContextIdentifiersWithholdingPayerNumberIdentifier" nillable="true">
				<xs:annotation>
					<xs:documentation>Withholding Payer Number</xs:documentation>
					<xs:documentation>Alias: ACCROLE59</xs:documentation>
					<xs:documentation>Business Definition: The Withholding Payer Number (WPN) is allocated to clients who have withholding obligations under Pay As You Go (PAYG) withholding but who do not have an Australian Business Number (ABN). Its primary purpose is for quotation on payment summaries issued to their employees. For example, private individuals not carrying on an enterprise employing a nanny or housekeeper, would be allocated a WPN.</xs:documentation>
					<xs:documentation>Business Guidance: The Withholder Payer Number reported must belong to the payer named in this record.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="8" />
						<xs:maxLength value="9" />
						<xs:pattern value="[0-9]{8,9}" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" maxOccurs="1" name="ContextIdentifiersAustralianTaxationOfficeReferenceNumberIdentifier" nillable="true">
				<xs:annotation>
					<xs:documentation>Australian Taxation Office Reference Number</xs:documentation>
					<xs:documentation>Alias: ACCROLE5</xs:documentation>
					<xs:documentation>Business Definition: This is a unique identifier issued by the Australian Taxation Office (ATO) to entities who may not have a Tax File Number (TFN), or for entities interacting with the Tax Office in roles other than their Income Tax who may not have an Australian Business Number (ABN).</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="12" />
						<xs:maxLength value="12" />
						<xs:pattern value="[0-9]{12}" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" maxOccurs="1" name="ReportForecastDate" nillable="true">
				<xs:annotation>
					<xs:documentation>Penalty and interest forecast date</xs:documentation>
					<xs:documentation>Alias: ACCROLE6</xs:documentation>
					<xs:documentation>Report Guidance: The date to which the penalty and interest amounts will be calculated.</xs:documentation>
					<xs:documentation>Business Definition: The date that the report is forecast to.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:date" />
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" maxOccurs="1" name="TaxAccountIdentifier" nillable="true">
				<xs:annotation>
					<xs:documentation>Account identifier</xs:documentation>
					<xs:documentation>Alias: ACCROLE7</xs:documentation>
					<xs:documentation>Report Guidance: Unique identifier for a taxpayer's account.
To search at the client level, do not provide client account details.</xs:documentation>
					<xs:documentation>Business Definition: The identifier of the tax account as issued by the Australian Taxation Office.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0" />
						<xs:maxLength value="12" />
						<xs:pattern value="[0-9]{0,12}" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" maxOccurs="1" name="TaxAccountSequenceNumber" nillable="true">
				<xs:annotation>
					<xs:documentation>Account sequence number</xs:documentation>
					<xs:documentation>Alias: ACCROLE8</xs:documentation>
					<xs:documentation>Report Guidance: The sequence number of the tax account.
To search at the client level, do not provide client account details.</xs:documentation>
					<xs:documentation>Business Definition: The sequence number of the tax account.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:nonNegativeInteger">
						<xs:maxInclusive value="99999" />
						<xs:pattern value="[0-9]{0,5}" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" maxOccurs="1" name="TaxRoleTypeCodeCollection" nillable="true" type="tns:TaxRoleTypeCodeCollection" />
			<xs:element minOccurs="1" maxOccurs="1" name="Pagination" type="tns:Pagination">
				<xs:annotation>
					<xs:documentation>Pagination</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>