src/main/resources/samples/ato.accrole.0001.2017.list.response.01.00.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.sbr.gov.au/ato/accrolelistresponse" elementFormDefault="qualified" targetNamespace="http://www.sbr.gov.au/ato/accrolelistresponse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="ACCROLEListResponse" type="tns:ACCROLEListResponse" />
	<xs:complexType name="ACCROLEListResponse">
		<xs:annotation>
			<xs:documentation>This schema was generated from a template.</xs:documentation>
			<xs:documentation>Manual changes to this file will be overwritten if the schema is regenerated.</xs:documentation>
			<xs:documentation>Generated on 2017-03-27T12:33:56, by ESR Version 1.57.0.0 using ESR Database </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element minOccurs="1" maxOccurs="1" name="RP" type="tns:RP">
				<xs:annotation>
					<xs:documentation>Information related to the entity</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RoleBalanceDetailsCollection">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="250" name="RoleBalanceDetails" type="tns:RoleBalanceDetails" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RoleBalanceDetails">
		<xs:annotation>
			<xs:documentation>Role Details</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="1" name="TaxRoleTypeCode" nillable="true">
				<xs:annotation>
					<xs:documentation>Role type</xs:documentation>
					<xs:documentation>Alias: ACCROLE9</xs:documentation>
					<xs:documentation>Business Definition: This code identifies the tax role obligation or administrative requirement.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string" />
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" maxOccurs="1" name="TaxRoleNameText" nillable="true">
				<xs:annotation>
					<xs:documentation>Role name</xs:documentation>
					<xs:documentation>Alias: ACCROLE15</xs:documentation>
					<xs:documentation>Business Definition: The name assigned to the tax role.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string" />
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" maxOccurs="1" name="TaxRoleStartDate" nillable="true">
				<xs:annotation>
					<xs:documentation>Effective role start date</xs:documentation>
					<xs:documentation>Alias: ACCROLE16</xs:documentation>
					<xs:documentation>Business Definition: The start date of a tax role</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:date" />
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" maxOccurs="1" name="TaxRoleEndDate" nillable="true">
				<xs:annotation>
					<xs:documentation>Effective role end date</xs:documentation>
					<xs:documentation>Alias: ACCROLE17</xs:documentation>
					<xs:documentation>Business Definition: The end date of a tax role</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:date" />
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" maxOccurs="1" name="TaxRoleRegistrationEffectiveDate" nillable="true">
				<xs:annotation>
					<xs:documentation>Role start date</xs:documentation>
					<xs:documentation>Alias: ACCROLE18</xs:documentation>
					<xs:documentation>Business Definition: The effective date of the tax role registration.</xs:documentation>
					<xs:documentation>Business Guidance: This is the date on which the client first had an active period for a tax role.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:date" />
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" maxOccurs="1" name="LodgmentFrequencyCode" nillable="true">
				<xs:annotation>
					<xs:documentation>Lodgement cycle</xs:documentation>
					<xs:documentation>Alias: ACCROLE19</xs:documentation>
					<xs:documentation>Business Definition: This indicates how frequently a client is required to lodge.</xs:documentation>
					<xs:documentation>Business Guidance: Valid values are:
Annually = Annually.
HalfYearly = HalfYearly.
Monthly = Monthly.
Quarterly = Quarterly.
Fortnightly = Fortnightly.
Large = BiWeekly, Weekly or Fortnightly.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string" />
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" maxOccurs="1" name="TaxAccountingTreatmentText" nillable="true">
				<xs:annotation>
					<xs:documentation>Accounting treatment name</xs:documentation>
					<xs:documentation>Alias: ACCROLE20</xs:documentation>
					<xs:documentation>Business Definition: The accounting treatment identifies how an account or assessment is to be treated over a specified period. An accounting treatment is applied to an account or an assessment for a finite period of time, or it can be applied from a particular date onwards</xs:documentation>
					<xs:documentation>Business Guidance: Some examples of accounting treatments include: concessional general interest charge, natural disasters and release from debt.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string" />
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" maxOccurs="1" name="TaxRoleBalanceAmount" nillable="true">
				<xs:annotation>
					<xs:documentation>Current role balance amount</xs:documentation>
					<xs:documentation>Alias: ACCROLE21</xs:documentation>
					<xs:documentation>Business Definition: The balance of a tax role</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal" />
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" maxOccurs="1" name="TaxLiabilityDueAmount" nillable="true">
				<xs:annotation>
					<xs:documentation>Due and payable amount</xs:documentation>
					<xs:documentation>Alias: ACCROLE22</xs:documentation>
					<xs:documentation>Business Definition: This is the value, as at the relevant date, for the tax debt that is due.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal" />
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" maxOccurs="1" name="TaxPenaltyInterestEstimatedDebitAmount" nillable="true">
				<xs:annotation>
					<xs:documentation>Total interest amount</xs:documentation>
					<xs:documentation>Alias: ACCROLE23</xs:documentation>
					<xs:documentation>Business Definition: The estimated tax penalty and interest amounts to be debited.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal" />
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" maxOccurs="1" name="PartyApprovedFinancialYearEndDate" nillable="true">
				<xs:annotation>
					<xs:documentation>Financial year end date</xs:documentation>
					<xs:documentation>Alias: ACCROLE24</xs:documentation>
					<xs:documentation>Business Definition: The month and day on which the entity's approved financial year ends.</xs:documentation>
					<xs:documentation>Business Guidance: Provide in mm-dd format.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:gMonthDay" />
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" maxOccurs="1" name="TaxRoleNonReportingIndicator" nillable="true">
				<xs:annotation>
					<xs:documentation>Role non reporting</xs:documentation>
					<xs:documentation>Alias: ACCROLE28</xs:documentation>
					<xs:documentation>Business Definition: This indicates whether the tax role is a non-reporting role due to the obligation being met another way</xs:documentation>
					<xs:documentation>Business Guidance: Example: The group head entity is reporting the obligation for the entity.
A choice of TRUE/FALSE values.
true = a non-reporting role.
false = a reporting role.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:boolean" />
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Pagination">
		<xs:annotation>
			<xs:documentation>Pagination</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="1" name="InteractionRecordLimitCount" nillable="true">
				<xs:annotation>
					<xs:documentation>Record limit</xs:documentation>
					<xs:documentation>Alias: ACCROLE10</xs:documentation>
					<xs:documentation>Report Guidance: This is the value that specifies the number of client account records to be returned per page from the service.</xs:documentation>
					<xs:documentation>Business Definition: This is the maximum number of records to be returned in a list of values.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:nonNegativeInteger" />
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" maxOccurs="1" name="InteractionRecordListIndexNumber" nillable="true">
				<xs:annotation>
					<xs:documentation>Record start number</xs:documentation>
					<xs:documentation>Alias: ACCROLE11</xs:documentation>
					<xs:documentation>Report Guidance: The index of the first record to be returned.</xs:documentation>
					<xs:documentation>Business Definition: This number represents the position of a record in a list of records.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:nonNegativeInteger" />
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" maxOccurs="1" name="InteractionAvailableRecordCount" nillable="true">
				<xs:annotation>
					<xs:documentation>Total record count</xs:documentation>
					<xs:documentation>Alias: ACCROLE25</xs:documentation>
					<xs:documentation>Business Definition: The number of records that are available for an interaction.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:nonNegativeInteger" />
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RP">
		<xs:annotation>
			<xs:documentation>Information related to the entity</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="1" name="ContextIdentifiersTaxFileNumberIdentifier" nillable="true">
				<xs:annotation>
					<xs:documentation>Tax File Number</xs:documentation>
					<xs:documentation>Alias: ACCROLE3</xs:documentation>
					<xs:documentation>Business Definition: A unique number issued by the Tax Office to individuals and organisations to identify their tax records. It increases the efficiency in administering tax and other Australian Government systems such as income support payments. It is also used as the identifier for clients' income tax roles. A Tax File Number (TFN) can be used externally only for communication with the Tax Office, either directly by the client, or by an external organisation that is required to collect and quote the client's TFN to the Tax Office.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="8" />
						<xs:maxLength value="9" />
						<xs:pattern value="([0-9])*" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" maxOccurs="1" name="ContextIdentifiersAustralianBusinessNumberIdentifier" nillable="true">
				<xs:annotation>
					<xs:documentation>Australian Business Number</xs:documentation>
					<xs:documentation>Alias: ACCROLE4</xs:documentation>
					<xs:documentation>Business Definition: A unique public identifier issued to all entities registered in the Australian Business Register (ABR), to be used in their dealings with government. Companies registered under the Corporations Law and business entities carrying on an enterprise in Australia are entitled to an ABN.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[0-9]{11}" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" maxOccurs="1" name="ContextIdentifiersWithholdingPayerNumberIdentifier" nillable="true">
				<xs:annotation>
					<xs:documentation>Withholding Payer Number</xs:documentation>
					<xs:documentation>Alias: ACCROLE59</xs:documentation>
					<xs:documentation>Business Definition: The Withholding Payer Number (WPN) is allocated to clients who have withholding obligations under Pay As You Go (PAYG) withholding but who do not have an Australian Business Number (ABN). Its primary purpose is for quotation on payment summaries issued to their employees. For example, private individuals not carrying on an enterprise employing a nanny or housekeeper, would be allocated a WPN.</xs:documentation>
					<xs:documentation>Business Guidance: The Withholder Payer Number reported must belong to the payer named in this record.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[0-9]{11}" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" maxOccurs="1" name="ContextIdentifiersAustralianTaxationOfficeReferenceNumberIdentifier" nillable="true">
				<xs:annotation>
					<xs:documentation>Australian Taxation Office Reference Number</xs:documentation>
					<xs:documentation>Alias: ACCROLE5</xs:documentation>
					<xs:documentation>Business Definition: This is a unique identifier issued by the Australian Taxation Office (ATO) to entities who may not have a Tax File Number (TFN), or for entities interacting with the Tax Office in roles other than their Income Tax who may not have an Australian Business Number (ABN).</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string" />
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" maxOccurs="1" name="TaxAccountIdentifier" nillable="true">
				<xs:annotation>
					<xs:documentation>Account identifier</xs:documentation>
					<xs:documentation>Alias: ACCROLE7</xs:documentation>
					<xs:documentation>Report Guidance: Unique identifier for a taxpayer's account.</xs:documentation>
					<xs:documentation>Business Definition: The identifier of the tax account as issued by the Australian Taxation Office.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string" />
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" maxOccurs="1" name="TaxAccountSequenceNumber" nillable="true">
				<xs:annotation>
					<xs:documentation>Account sequence number</xs:documentation>
					<xs:documentation>Alias: ACCROLE8</xs:documentation>
					<xs:documentation>Business Definition: The sequence number of the tax account.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:nonNegativeInteger" />
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" maxOccurs="1" name="TaxAccountTypeCode" nillable="true">
				<xs:annotation>
					<xs:documentation>Account type</xs:documentation>
					<xs:documentation>Alias: ACCROLE12</xs:documentation>
					<xs:documentation>Business Definition: The code that represents the type of tax account.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string" />
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" maxOccurs="1" name="TaxAccountTypeCategoryCode" nillable="true">
				<xs:annotation>
					<xs:documentation>Account category</xs:documentation>
					<xs:documentation>Alias: ACCROLE13</xs:documentation>
					<xs:documentation>Report Guidance: Valid values are:
Tax
Loan
Super
Excise</xs:documentation>
					<xs:documentation>Business Definition: The code that represents the category of tax account type.</xs:documentation>
					<xs:documentation>Business Guidance: Account types have been categorised into different groupings (e.g. Super, Tax and Loans)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string" />
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" maxOccurs="1" name="ReportForecastDate" nillable="true">
				<xs:annotation>
					<xs:documentation>Penalty and interest forecast date</xs:documentation>
					<xs:documentation>Alias: ACCROLE6</xs:documentation>
					<xs:documentation>Report Guidance: The date to which the system will calculate the estimated penalty and interest amount.</xs:documentation>
					<xs:documentation>Business Definition: The date that the report is forecast to.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:date" />
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" maxOccurs="1" name="InteractionRecordCount" nillable="true">
				<xs:annotation>
					<xs:documentation>Count of client accounts returned</xs:documentation>
					<xs:documentation>Alias: ACCROLE14</xs:documentation>
					<xs:documentation>Report Guidance: This is the number of client role records returned in this transaction</xs:documentation>
					<xs:documentation>Business Definition: The number of records included in an interaction.</xs:documentation>
					<xs:documentation>Business Guidance: This is the number of records that are available to be returned in a list of values.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:nonNegativeInteger" />
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" maxOccurs="1" name="RoleBalanceDetailsCollection" type="tns:RoleBalanceDetailsCollection">
				<xs:annotation>
					<xs:documentation>Role Details</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" maxOccurs="1" name="Pagination" type="tns:Pagination">
				<xs:annotation>
					<xs:documentation>Pagination</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>